/*-----------------------------*\
  #Page - Weekly display
\*-----------------------------*/

/* The weekly display has two grid layouts.
 * on small screens the grid is a single column, 
 * on large screens the number of columns increases
 * to fit screen size
 *   1. set by the rem() function
 */ 
 .page--weekly-display {
    display: grid;
    row-gap: rem(24); /* [1] */
  }

  .tracker {
    display: grid;
    row-gap: rem(24); /* [1] */ 
  }
